In [44]:
import pandas as pd
import numpy as np
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import matplotlib.pyplot as plt

In [47]:
california = fetch_california_housing(as_frame=True)
#converting the housing dataset into a dataframe
cali_housing = california.frame
cali_housing.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [17]:
housing_data = pd.read_csv('housing.csv')
housing_data.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [21]:
X = housing_data.drop(columns=['MEDV'])
y = housing_data['MEDV']

Assumption 1. Linearity
In order to check for linearity between independent variables, a scatterplot is created that plots each independent variable on the dependent variable (median value)

80/20 Train-Test Split and setting up initial model

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [29]:
model_lr = LinearRegression()
model_lr.fit(X_train, y_train)
y_pred = model_lr.predict(X_test)

In [39]:
#Model parameters
print(f"Intercept: {model_lr.intercept_}")
for coef in model_lr.coef_:
    print(f"Coefficient: {coef}")

Intercept: 408027.6541680766
Coefficient: 87322.20361861207
Coefficient: -10620.637315223687
Coefficient: -19324.410296499234